<h1>Liste des anomalies</h1>
<p><a href="{{ path('myapp_anomalie_creer') }}">Creer une anomalie</a><p>
<table>
{% for a in anomalies %}
	<tr>
		<td>{{ a.id }}</td>
		<td>{{ a.projet }}</td>
		<td>{{ a.dateCreation|date('d/m/Y') }}</td>
		<td>{{ a.etat }}</td>
		<td><a href="{{ path('myapp_anomalie_detail', { 'id': a.id }) }}">Détail</a></td>		
	</tr>
{% else %}
	<tr><td>Aucune anomalie en-cours</td></tr>
{% endfor %}
</table>

